/*video information*/
.video_information {
	width: 960px;
	margin: 0 auto;
	font-family: Verdana;
}

.video_information_0 {
	margin-top: 50px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #232323;
}

/*video name*/
.video_name {
	width: 960px;
	margin-left: 50px;
	border-left: 8px solid #ff6700;
}

.video_name_css {
	font-size: 18px;
	line-height: 35px;
	font-weight: bold;
	padding-left: 10px;
}

/*video 1 information left*/
.video_left {
	margin-left: 50px;
	margin-top: 20px;
	float: left;
}

.video_embed {
	width: 470px;
	margin-bottom: 10px;
}

/*video 1 information right*/
.video_right {
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
	float: left;
	width: 350px;
}

.video_keyword {
	background: #ff6700;
	width: 55px;
	height: 60px;
	color: #fff;
}

.keyword_number {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	margin-top: 10px;
	float: left
}

.keyword_month {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-left: 11px;
	margin-top: 10px;
	float: left
}

.video_word {
	border-top: 1px solid #232323;
	margin-top: 5px;
	font-size: 12px;
	line-height: 30px;
	font-weight: bold;
}

/*video2 strat*/
.video_name_1{
	width: 960px;
	margin-left: 50px;
	border-left: 8px solid #ff6700;
}
.video_information_1 {
	margin-top: 50px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #232323;
}